<template>
  <div class="container d-flex justify-content-center w-100vh">
    <div class="card" id="register-form">
      <div class="card-body">
        <div class="title">
          <div>เข้าสู่ระบบ</div>
          <div class="line"></div>
        </div>
        <form>
          <div class="form-group">
            <label for="email-input"
              >อีเมล <span class="required">*</span></label
            >
            <!-- <input
              type="email"
              class="form-control"
              v-model="$v.form.username.$model"
              :class="status($v.form.username)"
              id="email-input"
              aria-describedby="emailHelp"
              placeholder="อีเมล"
            /> -->
            <InputField
              v-model="$v.form.username.$model"
              placeholder="อีเมล"
              type="email"
              name="email"
              isRequired
              :isValidate="$v.form.username.$error"
              :v="$v.form.username"
            />
          </div>
          <div class="form-group">
            <label for="password-input"
              >รหัสผ่าน<span class="required">*</span></label
            >
            <input
              type="password"
              class="form-control"
              v-model="$v.form.password.$model"
              :class="status($v.form.password)"
              id="password-input"
              placeholder="รหัสผ่าน"
            />
          </div>
          <div class="text-right">
            <nuxt-link :to="'/forgetpassword'">
              <small>ลืมรหัสผ่าน ?</small></nuxt-link
            >
          </div>
          <button
            class="btn register-btn btn-block mt-4 mb-2"
            @click.prevent="logIn()"
          >
            เข้าสู่ระบบ
          </button>
          <div class="text-center">
            <small class="mr-2">ลูกค้าใหม่?</small
            ><nuxt-link :to="'/register'"
              ><small> <u>สมัครสมาชิก</u></small></nuxt-link
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { required, email, helpers } from 'vuelidate/lib/validators'
export default {
  validations() {
    return {
      form: {
        username: {
          required,
          email,
        },
        password: {
          required,
        },
      },
    }
  },
  auth: false,
  mounted() {
    this.checkLogged()
  },
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
    }
  },

  methods: {
    checkLogged() {
      if (this.$auth.loggedIn) {
        this.$router.push('/')
      }
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    async logIn() {
      this.$v.form.$touch()

      this.$nuxt.$loading.start()
      if (this.$v.form.$error) return
      this.$auth
        .loginWith('local', {
          data: { ...this.form },
        })
        .then(async (res) => {
          this.$nuxt.$loading.finish()
          if (res.data.result) {
            await this.$auth.fetchUser()
            this.$router.push('/')
          } else {
            this.$swal('เกิดข้อผิดพลาด', res.data.message, 'error')
          }
        })
        .catch((e) => {
          console.log(e)
        })
    },
  },
}
</script>
<style lang="css">
#register-form {
  width: 500px;
  margin: auto;
}
.register-btn {
  background-color: rgb(24, 38, 64);
  color: white;
}
.birthdate-input {
  display: flex;
  flex-direction: row;
}
.birthdate-input div:not(:last-child) {
  margin-right: 10px;
}

.line {
  flex-grow: 1;
  height: 5px;
  margin: 7px 0px 0px 10px;
  background-color: rgb(24, 38, 64);
}
.required {
  color: red;
}
.w-100vh {
  height: 100vh;
}
</style>
