<template>
  <div class="container d-flex justify-content-center w-100vh">
    <div class="card" id="register-form">
      <div class="card-body">
        <div class="title">
          <div>ลงทะเบียน</div>
          <div class="line"></div>
        </div>
        <form>
          <div class="form-group">
            <label for="email-input"
              >อีเมล <span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.email.$model"
              placeholder="อีเมล"
              type="email"
              name="email"
              isRequired
              :isValidate="$v.form.email.$error"
              :v="$v.form.email"
            />
            <!-- <input
              type="email"
              class="form-control"
              v-model="$v.form.email.$model"
              :class="status($v.form.email)"
              @keypress="check($v.form.email)"
              id="email-input"
              aria-describedby="emailHelp"
              placeholder="อีเมล"
            /> -->
          </div>
          <div class="form-group">
            <label for="password-input"
              >รหัสผ่าน<span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.password.$model"
              placeholder="รหัสผ่าน"
              type="password"
              name="password"
              isRequired
              :isValidate="$v.form.password.$error"
              :v="$v.form.password"
              :isShowPassword="true"
            />
            <!-- <input
              type="password"
              class="form-control"
              v-model="$v.form.password.$model"
              :class="status($v.form.password)"
              id="password-input"
              placeholder="รหัสผ่าน"
            /> -->
            <small id="password-help" class="form-text text-muted"
              >*รหัสผ่านจะต้องประกอบด้วยตัวอักษร a-z และ 1-9
              ควรมีความยาวไม่ต่ำกว่า 6 ตัว</small
            >
          </div>
          <div class="form-group">
            <label for="password-input"
              >ยืนยันรหัสผ่าน<span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.confirmPassword.$model"
              placeholder="ยืนยันรหัสผ่าน"
              type="password"
              name="confirmpassword"
              isRequired
              :isValidate="$v.form.confirmPassword.$error"
              :v="$v.form.confirmPassword"
              :isShowPassword="true"
            />
            <!-- <input
              type="password"
              class="form-control"
              :class="status($v.form.confirmPassword)"
              v-model="$v.form.confirmPassword.$model"
              id="password-input"
              placeholder="รหัสผ่าน"
            /> -->
          </div>
          <div class="form-group">
            <label for="password-input"
              >วันเกิด <span class="required">*</span></label
            >
            <div class="birthdate-input">
              <div class="w-100">
                <select
                  :class="['custom-select', status($v.form.day)]"
                  v-model="$v.form.day.$model"
                >
                  <option selected disabled value="">วันที่</option>
                  <option v-for="i in 31" :key="'day' + i">
                    {{ $moment(i, 'D').format('DD') }}
                  </option>
                </select>
              </div>
              <div class="w-100">
                <select
                  :class="['custom-select', status($v.form.month)]"
                  v-model="$v.form.month.$model"
                >
                  <option selected disabled value="">เดือน</option>
                  <option v-for="i of 12" :key="'month' + i">
                    {{ $moment(i, 'M').format('MMMM') }}
                  </option>
                </select>
              </div>
              <div class="w-100">
                <select
                  :class="['custom-select', status($v.form.year)]"
                  v-model="$v.form.year.$model"
                >
                  <option selected disabled value="">ปี</option>
                  <option v-for="i of year" :key="'year' + i">{{ i }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="mr-4">เพศ <span class="required">*</span></div>
            <div class="form-check form-check-inline">
              <input
                :class="'form-check-input'"
                type="radio"
                name="gender-input"
                v-model="form.gender"
                id="inlineRadio1"
                value="ชาย"
              />
              <label :class="'form-check-label'" for="inlineRadio1">ชาย</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                v-model="form.gender"
                name="gender-input"
                id="inlineRadio2"
                value="หญิง"
              />
              <label class="form-check-label" for="inlineRadio2">หญิง</label>
            </div>
          </div>
          <div>
            <span v-if="$v.form.gender.$error" class="required"
              >กรุณาเลือกเพศ</span
            >
          </div>
          <div class="form-check form-check-inline mt-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              v-model="form.acceptRule"
            />
            <label class="form-check-label" for="exampleCheck1"
              >ยอมรับข้อกำหนดและเงื่อนไขในการใช้งาน
              <a href="#"><u>เพิ่มเติม</u></a></label
            >
          </div>
          <button
            class="btn register-btn btn-block mt-4 mb-2"
            @click.prevent="submit()"
            :disabled="!form.acceptRule"
          >
            ลงทะเบียน
          </button>
          <div class="text-center">
            <small class="mr-2">เป็นสมาชิกแล้ว?</small
            ><nuxt-link :to="'/login'"><u>เข้าสู่ระบบ</u></nuxt-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {
  required,
  minLength,
  sameAs,
  helpers,
  email,
} from 'vuelidate/lib/validators'

const password = helpers.regex(
  'password',
  /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9!-_]+)$/
)

export default {
  validations() {
    return {
      form: {
        day: { required },
        month: { required },
        year: { required },
        email: { required, email },
        password: {
          required,
          password,
          minLength: minLength(6),
        },
        gender: { required },
        confirmPassword: {
          required,
          password,
          minLength: minLength(6),
          sameAsPassword: sameAs('password'),
        },
      },
    }
  },
  data() {
    return {
      day: '',
      year: [],
      form: {
        day: '',
        month: '',
        year: '',
        email: '',
        password: '',
        confirmPassword: '',
        gender: '',
        acceptRule: false,
      },
    }
  },
  created() {
    this.setBirthDayRange()
  },
  methods: {
    check(field) {},
    setBirthDayRange() {
      let years = this.$moment().format('YYYY')
      let yearObj = []
      for (let index = years - 150; index <= years; index++) {
        yearObj.push(index)
      }
      this.year = yearObj.sort((a, b) => b - a)
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    submit() {
      this.$v.form.$touch()

      if (this.$v.form.$error) return
      this.$nuxt.$loading.start()

      let dataObj = {
        username: this.form.email,
        password: this.form.password,
        firstName: '',
        lastName: '',
        birthday: this.$moment(
          `${this.form.year}/${this.form.month}/${this.form.day}`,
          'YYYY-MMMM-DD'
        ).format('YYYY-MM-DD'),
        telephone: '',
        email: '',
        gender: this.form.gender,
      }
      this.$axios
        .post(`${process.env.BASE_API_PATH}/api/register`, dataObj)
        .then((res) => {
          this.$nuxt.$loading.finish()
          if (res.data.result) {
            this.$swal
              .fire(
                'ลงทะเบียนสำเร็จ!',
                'ระบบทำการลงทะเบียนเรียบร้อย',
                'success'
              )
              .then(() => this.$router.push('/login'))
          } else {
            this.$swal.fire('เกิดข้อผิดพลาด', res.data.message, 'error')
          }
        })
    },
  },
}
</script>
<style lang="css">
#register-form {
  width: 500px;
  margin: auto;
}
.register-btn {
  background-color: rgb(24, 38, 64);
  color: white;
}

.line {
  flex-grow: 1;
  height: 5px;
  margin: 7px 0px 0px 10px;
  background-color: rgb(24, 38, 64);
}

.w-100vh {
  height: 100vh;
}
</style>
