<template>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center" width="80%">รายละเอียดที่อยู่</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="items of tableData" :key="'address-row' + items.id">
          <th scope="row" width="80%">
            {{ items.street }} {{ items.subDistrict }} {{ items.district }}
            {{ items.province }}
            {{ items.zipCode }}
          </th>
          <td>
            <button class="btn btn-link" @click="openEditModal(items)">
              แก้ไข
            </button>
            <button class="btn btn-link" @click="deleteItemsRow(items.id)">
              ลบ
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between">
      <select
        class="form-select page-limit-select"
        aria-label="เลือกจำนวนแถวต่อหน้า"
        v-model="PageLimitSelect"
        @change="changeTableLimitPage()"
      >
        <option
          v-for="page_limit of pageLimit"
          :key="'limit-per-page' + page_limit"
          :value="page_limit"
        >
          {{ page_limit }} / หน้า
        </option>
      </select>
      {{ pageTotal }}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li
            :class="['page-item', page == 1 ? 'disabled' : '']"
            @click="changeTablePage(page - 1)"
          >
            <span class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </span>
          </li>

          <li
            :class="['page-item', pages == page ? 'active' : '']"
            v-for="pages of pageTotal"
            :key="'page-total' + pages"
            @click="changeTablePage(pages)"
          >
            <span :class="['page-link']">{{ pages }}</span>
          </li>

          <li
            :class="['page-item', page == pageTotal ? 'disabled' : '']"
            @click="changeTablePage(page + 1)"
          >
            <span class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    addressObj: {
      required: true,
    },
    tableData: {
      required: true,
      type: Array,
    },
    hasPaging: {
      required: false,
      default: false,
    },
    getTableData: { required: true },
    openEditModal: { required: false },
    deleteItemsRow: { required: false },
  },
  data() {
    return {
      PageLimitSelect: 5,
      pageLimit: [5, 10, 15, 20],
      pageTotal: 1,
      page: 1,
    }
  },
  watch: {
    addressObj() {
      let limit = this.PageLimitSelect
      let total_items = this.addressObj.detail.total

      this.pageTotal = Math.ceil(total_items / limit)
    },
    pageOffset() {
      let page = this.page
      return (page - 1) * itemsPerPage + 1
    },
  },
  mounted() {},
  methods: {
    changeTableLimitPage() {
      this.getTableData(this.page, this.PageLimitSelect)
      // this.$swal('Hello Vue world!!!')
    },

    changeTablePage(page) {
      if (page < 1) return
      else if (page > this.pageTotal) return
      this.page = page
      this.getTableData(page, this.PageLimitSelect)
    },
  },
}
</script>
<style lang="css">
.page-limit-select {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
</style>
