<template>
  <nuxt-link :to="`/product/${product.productID}`">
    <div class="card-effect card mt-3">
      <div class="card-body">
        <div v-if="product.product_discount_price != 0" class="discount-tag">
          {{ product.discount }}
        </div>
        <img
          class="shrink mr-2 w-100 h-auto product-image"
          src="@/assets/image/blank-img.jpg"
        />

        <div class="d-block text-center card-product-container">
          <div class="card-product-title">{{ product.product_name }}</div>
          <!-- <sup
              class="card-product-price-old"
              style="text-decoration-line: line-through"
              s
              >฿{{ product.product_price }}</sup
            >
            <span sclass="card-product-price-discount">฿</span> -->
          <div class="d-flex align-items-center justify-content-end">
            <s v-if="product.product_discount_price != 0"
              >฿{{ product.product_real_price }}</s
            >
            <div class="card-product-price">
              <small>฿ </small>
              {{
                product.product_discount_price == 0
                  ? product.product_real_price
                  : product.product_discount_price
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>
<script>
/* eslint-disable */

export default {
  name: 'product-card',
  props: ['product'],
  data() {
    return {}
  },

  mounted() {},
  methods: {},
}
</script>
<style scoped>
.discount-price {
  display: flex;
  justify-content: flex-end;
  color: red;
}
.card-effect{
  max-height: 350px;
}
.card-product-title {
  color: #535353;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.35rem;
  padding: 15px 10px 10px 10px;
}

.card-product-price-container {
  padding: 5px 15px 15px 15px;
}

.card-product-price {
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 700;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  color: #286270;
  font-family: 'FuturaStd', 'prompt';
}

.card-product-price-discount {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 700;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  color: #286270;
  font-family: 'FuturaStd', 'prompt';
  padding-bottom: 15px;
}
.product-image {
  max-height: 150px;
  object-fit: contain;
}
.discount-tag {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  padding: 15px;
  border-radius: 0px 0px 10px;

  background-color: orange;
}
.discount-tag::after {
  content: ' %';
}
.card-product-container {
  padding: 35px 5px;
}

/* .card-product-footer{
  position: absolute;
  bottom:0px;
  width:100%;
} */

@media only screen and (max-width: 768px) {
  .card-product-container {
    padding: 15px 5px 15px 5px;
  }
}

@media only screen and (max-width: 375px) {
  .card-product-button {
    font-size: 13px !important;
    padding: 25px 15px !important;
  }

  .card-product-type {
    display: inline-grid !important;
  }
}
</style>
