<template>
  <div>
    <aside class="cart js-cart" id="cart">
      <div class="cart__header">
        <h1 class="cart__title">ตะกร้าสินค้า</h1>
        <p class="cart__text">
          <nuxt-link
            class="button button--light js-toggle-cart"
            to="/product/productCart"
            title="Close cart"
          >
            ไปยังหน้าตะกร้า
          </nuxt-link>
        </p>
      </div>
      <div class="cart__products js-cart-products">
        <template v-if="orderList.length < 1">
          <p class="cart__empty js-cart-empty">เพิ่มเข้าตะกร้า</p>
        </template>

        <template v-else>
          <div
            class="card"
            v-for="(items, n) of orderList"
            :key="'product-id-' + n"
          >
            <!-- {{count}} -->
            <div class="card-body">
              <div class="d-flex">
                <img
                  src="@/assets/image/blank-img.jpg"
                  alt=""
                  id="product-image-incart"
                />
                <div id="product-detail-incart">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      {{ items.product_name }}
                    </div>
                    <div>{{ items.productAmount }}</div>
                  </div>

                  <div class="price mt-auto">
                    {{
                      items.product_discount_price == '0'
                        ? items.product_real_price
                        : items.product_discount_price
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cart_checkout">
            <!-- <div>faksdlfksdal</div>
            <div>faksdlfksdal</div>
            <div>faksdlfksdal</div>
            <div>faksdlfksdal</div> -->
          </div>
        </template>
      </div>
    </aside>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  mounted() {
    // document.onclick = function (e) {
    //   var cart = document.getElementById('cart')
    //   if (cart.classList.contains('isShow')) {
    //     $('aside#cart').hide()
    //     cart.classList.remove('isShow')
    //   }
    // }
  },

  computed: mapState({
    // arrow functions can make the code very succinct!
    count: (state) => state.cart.order,

    // passing the string value 'count' is same as `state => state.count`

    // to access local state with `this`, a normal function must be used
    orderList() {
      return this.$store.state.cart.order
    },
  }),
  // computed: {},
}
</script>
<style lang="css">
#product-image-incart {
  width: auto;
  height: 100px;
  float: left;
}
#product-detail-incart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
  justify-content: space-between;
}
.cart {
  position: fixed;
  background: #f3f3f3;
  width: 400px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate(500px, 0);
  transition: transform 250ms ease-in-out;
  z-index: 20;
}

body.open .cart {
  transform: translate(0, 0);
}

.cart__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart__title {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  float: left;
}

.cart__products {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
.cart__products article {
  padding: 15px;
  border-bottom: 1px dotted #ccc;
}
.cart__products article h1 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.cart__products article p {
  font-size: 14px;
  margin: 0;
}
.cart__products article p a {
  color: #f00;
}

.cart__product {
  display: none;
}

.cart__empty {
  padding: 30px 15px;
  margin: 0;
  font-style: italic;
  text-align: center;
}
.cart__empty.hide {
  display: none;
}

.cart__footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.cart__text {
  margin: 0;
}
.cart__text .button {
  padding: 10px 15px;
}
.cart_checkout {
  position: fixed;
  bottom: 0;
  margin-top: 0.75rem;
  background-color: white;
  width: 100%;
}
</style>
