<template>
  <div>
    <div class="mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 col-12">
              <img
                class="shrink mr-2 w-100 h-auto"
                src="@/assets/image/blank-img.jpg"
              />
            </div>
            <div class="col-md-8 col-12 d-flex">
              <div class="panel product-detail">
                <div class="product-detail-name">
                  {{ productDetail.product_name }}
                </div>
                <div class="product-detail-price">
                  <template v-if="productDetail.product_discount_price != '0'">
                    <span class="product-detail-discount price">
                      {{ productDetail.product_discount_price }}
                    </span>
                    <s class="price">{{ productDetail.product_real_price }} </s>
                  </template>
                  <template v-else>
                    <span class="product-detail-discount price">
                      {{ productDetail.product_real_price }}
                    </span>
                  </template>
                </div>

                <div class="mt-auto">
                  <div class="row align-items-center justify-content-around">
                    <div class="col-lg-4 col-md-4 col-6">จำนวน</div>
                    <div class="col-lg-8 col-md-8 col-6">
                      <div class="wrapper">
                        <span class="minus" @click="manageQuantity('minus')"
                          >-</span
                        >
                        <span class="num">{{ productAmount }}</span>
                        <span class="plus" @click="manageQuantity('plus')"
                          >+</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-block cart-toggle"
                    @click="addToCart()"
                  >
                    <i class="fa-solid fa-cart-shopping"></i> เพิ่มเข้าตะกร้า
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-block"
                  >
                    ซื้อทันที
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async asyncData({ $content, params }) {
    const { body } = await $content('product/test1').fetch()
    return {
      body,
      params,
    }
  },
  data() {
    return {
      productDetail: {},
      productAmount: 1,
    }
  },

  mounted() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      let items = this.body.find((el) => el.productID == this.params.ProductID)
      this.productAmount = 1
      this.productDetail = items
    },
    addToCart() {
      this.productDetail.productAmount = this.productAmount
      var element = document.getElementsByTagName('body')
      this.$store.commit('cart/addOrder', {
        items: this.productDetail,
      })
      if (element[0].classList.contains('open')) return
      this.$store.commit('cart/toggleCart')
    },
    manageQuantity(val) {
      if (val == 'plus') this.productAmount += 1
      else if (val == 'minus' && this.productAmount != 1)
        this.productAmount -= 1
    },
  },
}
</script>
<style lang="css">
.product-detail-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.price:not(s) {
  font-size: 1.2rem;
}
.product-detail {
  flex-direction: column;
  display: flex;
  width: 100%;
}
.product-detail-discount {
  color: #f3591f;
}
.wrapper {
  height: 34px;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgb(24, 38, 64);
}
.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.wrapper span.num {
  font-size: 1.2rem;
  /* border-right: 2px solid rgba(0, 0, 0, 0.2); */
  /* border-left: 2px solid rgba(0, 0, 0, 0.2); */
  pointer-events: none;
}
</style>
