<template>
  <div class="container sm:pt-2 md:pt-4">
    <b-card>
      <div class="title">
        <b>ตะกร้าสินค้า</b>
      </div>
      <div v-if="orderList.length > 0">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12">
            <template>
              <div
                v-for="(items, index) of orderList"
                :key="'product-items-' + index"
                class="d-flex py-3"
              >
                <b-img
                  left
                  src="https://picsum.photos/125/125/?image=58"
                  alt="Left image"
                ></b-img>
                <div class="d-flex flex-column w-100 ml-2">
                  <div
                    class="row m-0 justify-content-between align-items-center"
                  >
                    <nuxt-link :to="`/product/${items.productID}`">
                      {{ items.product_name }}
                    </nuxt-link >
                    <div class="d-flex align-items-center">
                      <div
                        class="mr-3 delete-items-order"
                        @click="deleteItemsOrder(index)"
                      >
                        <small><u>ลบ</u></small>
                      </div>

                      <div class="wrapper">
                        <span
                          class="minus"
                          @click="manageQuantity('minus', index)"
                          >-</span
                        >
                        <span class="num">{{ items.productAmount }}</span>
                        <span
                          class="plus"
                          @click="manageQuantity('plus', index)"
                          >+</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="d-flex mt-auto justify-content-between">
                    <div class="price">{{ items.product_real_price }}</div>
                    <div class="price">
                      {{
                        numberWithCommas(
                          splitNumber(items.product_real_price) *
                            items.productAmount
                        )
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <b-card>
              <div class="summary-table-row">
                <div>รวม</div>
                <div class="price" style="color: black">
                  {{ numberWithCommas(totalPrice) }}
                </div>
              </div>
              <div class="summary-table-row">
                <div>ส่วนลด</div>
                <div>฿ 0</div>
              </div>
              <div class="summary-table-row">
                <div>รวมสุทธิ ( {{ orderList.length }} รายการ )</div>
                <div class="price">{{ numberWithCommas(totalPrice) }}</div>
              </div>
              <button
                class="check-out-btn text-white font-bold py-2 px-4 rounded btn-block"
              >
                เช็คเอ้าท์
              </button>
            </b-card>
          </div>
        </div>
      </div>
      <div v-else class="empty-cart">
        <small class="m-auto d-flex">ไม่มีสินค้าในตะกร้า</small>
      </div>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return { orderList: this.$store.state.cart.order }
  },
  computed: {
    totalPrice() {
      return this.orderList.reduce(
        (a, b) => a + b.productAmount * this.splitNumber(b.product_real_price),
        0
      )
    },
  },
  methods: {
    deleteItemsOrder(index) {
      console.log(index)
      this.$store.commit('cart/deleteOrderItems', { index: index })
    },
    manageQuantity(val, index) {
      if (val == 'plus') {
        this.orderList[index].productAmount += 1
        this.orderList = [...this.orderList]
      } else if (val == 'minus' && this.orderList[index].productAmount != 1) {
        this.orderList[index].productAmount -= 1
        this.orderList = [...this.orderList]
      }
    },
    splitNumber(val) {
      return parseInt(val.split(',').join(''))
    },
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },
  },
}
</script>
<style lang="scss" scoped>
.delete-items-order {
  cursor: pointer;
}
.summary-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  .price {
    color: #f3591f;
  }
}
.check-out-btn {
  background-color: rgb(24, 38, 64);
}
.empty-cart {
  margin: auto;
  display: flex;
  height: 150px;
}
</style>
