<template>
	<div>
		<div
			class="relative flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0 md:container"
		>
			<div class="card mt-3">
				<div class="title m-3">
					<span><b>สินค้าทั้งหมด</b></span>
				</div>
				<div class="card-body">
					<div class="row">
						<div
							v-for="(product_items, i) of body"
							class="col-xl-2 col-lg-4 col-md-6 col-6"
							:key="'product-items-' + i"
						>
							<ProductCard :product="product_items" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ProductCard from '@/components/ProductCard'
export default {
	nme: 'IndexPage',
	components: { ProductCard },
	async asyncData({ $content, params }) {
		const { body } = await $content('product/test1').fetch()
		return {
			body,
		}
	},
}
</script>
<style scoped>
.tabs-color {
	background: linear-gradient(180deg, #f89625, #f03366);
	height: 100%;
	width: 10px;
}
.carousel-item img {
	max-height: 300px;
	object-fit: contain;
}
.carousel-item {
	background-color: #e5e5e55e;
}
</style>
