@tailwind base;
@tailwind components;
@tailwind utilities;

.price::before {
  content: '฿ ';
}
*,
html {
  font-family: 'Kanit', sans-serif;
}
/* .dirty {
  border-color: #5a5;
} */
.isShow {
  display: block;
}
.dirty:focus {
  outline-color: #8e8;
}

.error {
  border-color: red;
}

.error:focus {
  outline-color: #f99;
}
.title {
  border-left: 6px solid;
  font-weight: bold;
  padding-left: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  color: rgb(22, 39, 74);
}
.birthdate-input {
  display: flex;
  flex-direction: row;
}
.birthdate-input div:not(:last-child) {
  margin-right: 10px;
}
.required {
  color: red;
  font-size: 0.75rem;
}
.line {
  flex-grow: 1;
  height: 5px;
  margin: 7px 0px 0px 10px;
  background-color: rgb(24, 38, 64);
}
.line-sm {
  flex-grow: 1;
  height: 2px;
  margin: 7px 0px 0px 10px;
  background-color: rgb(24, 38, 64);
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  border-color: rgb(24, 38, 64);
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .border-left {
    border-left: unset !important;
  }
}
