<template>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="title">
          <div>บัญชีผู้ใช้</div>
          <div class="line"></div>
        </div>
        <div class="row">
          <div class="col-3 d-sm-none d-md-block d-none">
            <div
              class="nav flex-column nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <div class="nav-link">เมนู</div>
              <a
                class="nav-link active"
                id="v-pills-home-tab"
                data-toggle="pill"
                href="#v-pills-home"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"
              >
                <i class="fa-solid fa-user mr-2"></i>บัญชีของฉัน</a
              >
              <a
                class="nav-link"
                id="v-pills-profile-tab"
                data-toggle="pill"
                href="#v-pills-profile"
                role="tab"
                aria-controls="v-pills-profile"
                aria-selected="false"
                ><i class="fa-solid fa-lock mr-2"></i>เปลี่ยนรหัสผ่าน</a
              >
              <a
                class="nav-link"
                id="v-pills-messages-tab"
                data-toggle="pill"
                href="#v-pills-messages"
                role="tab"
                aria-controls="v-pills-messages"
                aria-selected="false"
                ><i class="fa-solid fa-address-book mr-2"></i>ที่อยู่จัดส่ง</a
              >
              <a
                class="nav-link"
                id="v-pills-settings-tab"
                data-toggle="pill"
                href="#v-pills-settings"
                role="tab"
                aria-controls="v-pills-settings"
                aria-selected="false"
                @click="logout()"
                ><i class="fa-solid fa-arrow-right-from-bracket mr-2"></i
                >ออกจากระบบ</a
              >
            </div>
          </div>
          <div class="col-12 d-sm-block d-md-none mb-3">
            <div id="accordion">
              <div
                class="nav-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                เมนู
                <i class="fa-solid fa-angle-up"></i>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div
                  class="nav flex-column nav-pills"
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <a
                    class="nav-link active"
                    id="v-pills-home-tab"
                    data-toggle="pill"
                    href="#v-pills-home"
                    role="tab"
                    aria-controls="v-pills-home"
                    aria-selected="true"
                  >
                    <i class="fa-solid fa-user mr-2"></i>บัญชีของฉัน</a
                  >
                  <a
                    class="nav-link"
                    id="v-pills-profile-tab"
                    data-toggle="pill"
                    href="#v-pills-profile"
                    role="tab"
                    aria-controls="v-pills-profile"
                    aria-selected="false"
                    ><i class="fa-solid fa-lock mr-2"></i>เปลี่ยนรหัสผ่าน</a
                  >
                  <a
                    class="nav-link"
                    id="v-pills-messages-tab"
                    data-toggle="pill"
                    href="#v-pills-messages"
                    role="tab"
                    aria-controls="v-pills-messages"
                    aria-selected="false"
                    ><i class="fa-solid fa-address-book mr-2"></i
                    >ที่อยู่จัดส่ง</a
                  >
                  <a
                    class="nav-link"
                    id="v-pills-settings-tab"
                    aria-controls="v-pills-settings"
                    @click="logout()"
                  >
                    <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i
                    >ออกจากระบบ
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-12 border-left">
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-pills-home"
                role="tabpanel"
                aria-labelledby="v-pills-home-tab"
              >
                <ProfileUser />
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-profile"
                role="tabpanel"
                aria-labelledby="v-pills-profile-tab"
              >
                <ProfileChangePassword />
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-messages"
                role="tabpanel"
                aria-labelledby="v-pills-messages-tab"
              >
                <ProfileAddress />
              </div>
              <div
                class="tab-pane fade"
                id="v-pills-settings"
                role="tabpanel"
                aria-labelledby="v-pills-settings-tab"
              >
                ...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ProfileUser from './profileUser.vue'
import ProfileAddress from './profileAddress.vue'
import ProfileChangePassword from './profileChangePassword.vue'

export default {
  middleware: 'auth',
  components: { ProfileUser, ProfileAddress, ProfileChangePassword },

  data() {
    return {}
  },

  methods: {
    logout() {
      console.log('df')
      this.$auth.logout()
    },
  },
}
</script>
<style scoped>
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(22, 39, 74) !important;
  background-color: unset !important;
  border-left: 3px solid rgb(22, 39, 74);
  font-weight: bold;
  font-size: 18px;
}
#v-pills-tab a.nav-link {
  border-bottom: 1px solid #d5d3d3;
}
.nav-pills a.nav-link {
  border-radius: unset !important;
  color: rgb(22, 39, 74) !important;
  font-weight: 700;
}
div.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(201, 182, 126);
  font-weight: bolder;
  border-bottom: 1px solid #d5d3d3;
  border-top: 1px solid #d5d3d3;
  border-radius: unset;
}
div.nav-link > i {
  transition: 0.5s all;
}
div.nav-link[aria-expanded='false'] > i {
  transform: rotate(180deg);
}
</style>
