<template>
  <div>
    <div class="title">
      <div>ที่อยู่จัดส่ง</div>
      <div class="line-sm"></div>
    </div>
    <div class="text-right mb-3">
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#addressModal"
      >
        สร้างที่อยู่ใหม่
      </button>
    </div>
    <TableWithPage
      :addressObj="addressObj"
      ref="table"
      :tableData="tableData"
      :getTableData="getAddress"
      :openEditModal="openEditAddressModal"
      :deleteItemsRow="deleteAddress"
    />
    <div
      class="modal fade"
      id="addressModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addressModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="text-right pr-3">
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="title">
              <div>ที่อยู่จัดส่ง</div>
              <div class="line-sm"></div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="firstName-input"
                    >ชื่อ<span class="required">*</span></label
                  >

                  <InputField
                    v-model="$v.form.firstName.$model"
                    placeholder="ชื่อ"
                    id="firstName-input"
                    name="firstName-input"
                    isRequired
                    :isValidate="$v.form.firstName.$error"
                    :v="$v.form.firstName"
                  />
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="lastname-input"
                    >นามสกุล<span class="required">*</span></label
                  >

                  <InputField
                    v-model="$v.form.lastName.$model"
                    placeholder="นามสกุล"
                    id="lastname-input"
                    name="lastname-input"
                    isRequired
                    :isValidate="$v.form.lastName.$error"
                    :v="$v.form.lastName"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="address-input"
                    >รายละเอียดที่อยู่<span class="required">*</span></label
                  >
                  <!-- <InputField
                    v-model="$v.form.street.$model"
                    placeholder="รายละเอียดที่อยู่"
                    id="address-input"
                    name="address-input"
                    isRequired
                    :isValidate="$v.form.street.$error"
                    :v="$v.form.street"
                  /> -->
                  <textarea
                    class="form-control"
                    v-model="$v.form.street.$model"
                    :class="status($v.form.street)"
                    id="address-input"
                    rows="4"
                    placeholder="รายละเอียดที่อยู่"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="address-provice-select"
                    >จังหวัด<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    id="address-provice-select"
                    :class="status($v.form.province)"
                    v-model="$v.form.province.$model"
                    @change="handleProvinceChange()"
                  >
                    <option disabled selected value="">
                      กรุณาเลือกจังหวัด
                    </option>
                    <option
                      v-for="province of provinceObj"
                      :key="province.id"
                      :value="{ value: province.id, text: province.name_th }"
                    >
                      {{ province.name_th }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="address-district-select"
                    >อำเภอ<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    id="address-district-select"
                    :class="status($v.form.district)"
                    v-model="$v.form.district.$model"
                    :disabled="form.province == ''"
                    @change="handleDistrictChange()"
                  >
                    <option disabled selected value="">กรุณาเลือกอำเภอ</option>
                    <option
                      v-for="district of districtObj"
                      :key="district.id"
                      :value="{ value: district.id, text: district.name_th }"
                    >
                      {{ district.name_th }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="address-subdistrict-select"
                    >ตำบล<span class="required">*</span></label
                  >
                  <select
                    class="form-control"
                    id="address-subdistrict-select"
                    :class="status($v.form.subdistrict)"
                    v-model="$v.form.subdistrict.$model"
                    :disabled="form.district == ''"
                  >
                    <option disabled selected value="">กรุณาเลือกตำบล</option>
                    <!-- <option
                      v-for="subdistrict of subdistrictObj"
                      :key="subdistrict.id"
                      :value="{
                        id: subdistrict.id,
                        text: subdistrict.name_th,
                        zip_code: subdistrict.zip_code,
                      }"
                    >
                      {{ subdistrict.name_th }}
                    </option> -->
                    <option>ตัวอย่าง</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="zipCode-input"
                    >รหัสไปรษณีย์<span class="required">*</span></label
                  >
                  <InputField
                    v-model="$v.form.zipCode.$model"
                    placeholder="รหัสไปรษณีย์"
                    id="zipCode-input"
                    name="zipCode-input"
                    isRequired
                    :isValidate="$v.form.zipCode.$error"
                    :v="$v.form.zipCode"
                    :maxlength="5"
                  />
                  <!-- <input
                    class="form-control"
                    v-model="$v.form.zipCode.$model"
                    type="number"
                    :class="status($v.form.zipCode)"
                    id="zipCode-input"
                    placeholder="รหัสไปรษณีย์"
                  /> -->
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between p-3">
            <button class="btn btn-secondary" data-dismiss="modal">
              ย้อนกลับ
            </button>
            <button class="btn btn-primary" @click="submit()">บันทึก</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import Provice from '@/assets/json/province.json'
import District from '@/assets/json/district.json'

export default {
  components: {},
  validations() {
    return {
      form: {
        firstName: { required },
        lastName: { required },
        street: { required },
        province: { required },
        district: { required },
        subdistrict: { required },
        zipCode: { required, maxLengthValue: maxLength(5) },
      },
    }
  },
  data() {
    return {
      provinceObj: [],
      districtObj: [],
      subdistrictObj: [],
      addressObj: [],
      tableData: [],
      form: {
        firstName: '',
        lastName: '',
        street: '',
        province: '',
        district: '',
        subdistrict: '',
        zipCode: '',
      },
    }
  },
  mounted() {
    this.getProvince()
    this.getAddress()
    $('#addressModal').on('hidden.bs.modal', (e) => {
      this.form = {
        firstName: '',
        lastName: '',
        street: '',
        province: '',
        district: '',
        subdistrict: '',
        zipCode: '',
      }
      this.$v.$reset()
    })
  },
  methods: {
    openEditAddressModal(items) {
      $('#addressModal').modal('show')
      this.form = items
    },
    async getProvince() {
      this.provinceObj = Provice.sort((a, b) =>
        a.name_th.localeCompare(b.name_th)
      )
      // this.districtObj = District.sort((a, b) =>
      //   a.name_th.localeCompare(b.name_th)
      // )
      // this.subdistrictObj = Subdistrict.sort((a, b) =>
      //   a.name_th.localeCompare(b.name_th)
      // )
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    handleProvinceChange() {
      this.districtObj = District.filter(
        (el) => el.province_id == this.form.province.value
      ).sort((a, b) => a.name_th.localeCompare(b.name_th))
    },
    handleDistrictChange() {},
    async getAddress(page = 1, limit = 5) {
      const address = await this.$axios(
        `${process.env.BASE_API_PATH}/api/useraddress/list?keyword=&page=${page}&limit=${limit}`
      )

      this.addressObj = address.data
      this.tableData = address.data.detail.userAddresses
    },
    submit() {
      this.$v.form.$touch()
      if (this.$v.form.$error) return
      if (this.form.id) {
        let payload = this.form
        payload.province = payload.province.text
        payload.district = payload.district.text
        this.$axios
          .put(`${process.env.BASE_API_PATH}/api/useraddress`, payload)
          .then((res) => {
            // alert('Form submitted')
            $('#addressModal').modal('hide')
            this.getAddress(
              this.$refs.table.page,
              this.$refs.table.pageLimitSelect
            )
          })
      } else {
        if (this.$v.form.$error) return
        let payload = this.form
        payload.province = payload.province.text
        payload.district = payload.district.text
        this.$axios
          .post(`${process.env.BASE_API_PATH}/api/useraddress`, payload)
          .then((res) => {
            // alert('Form submitted')
            $('#addressModal').modal('hide')

            this.getAddress(
              this.$refs.table.page,
              this.$refs.table.pageLimitSelect
            )
          })
      }
    },
    async deleteAddress(id) {
      this.$swal
        .fire({
          title: 'ยืนยันการลบข้อมูล ?',
          text: 'คุณต้องการลบที่อยู่นี้หรือ ไม่ ?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          reverseButtons: true,
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            const res = await this.$axios.delete(
              `${process.env.BASE_API_PATH}/api/useraddress/${id}`
            )
            this.$swal.fire('สำเร็จ!', 'ข้อมูลถูกลบแล้ว', 'success')
            this.getAddress(
              this.$refs.table.page,
              this.$refs.table.pageLimitSelect
            )
          }
        })
    },
  },
}
</script>
<style lang="css">
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
