<template>
	<div>
		<div class="title">
			<div>บัญชีของฉัน</div>
			<div class="line-sm"></div>
		</div>
		<form>
			<div class="row">
				<div class="col-md-6 col-lg-6 col-12">
					<div class="form-group">
						<label for="firstName-input"
							>ชื่อ <span class="required">*</span></label
						>
						<InputField
							v-model="$v.form.firstName.$model"
							placeholder="ชื่อ"
							name="firstName-input"
							id="firstName-input"
							isRequired
							:isValidate="$v.form.firstName.$error"
							:v="$v.form.firstName"
						/>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-12">
					<div class="form-group">
						<label for="lastName-input"
							>นามสกุล <span class="required">*</span></label
						>
						<InputField
							v-model="$v.form.lastName.$model"
							placeholder="นามสกุล"
							name="lastName-input"
							id="lastName-input"
							isRequired
							:isValidate="$v.form.lastName.$error"
							:v="$v.form.lastName"
						/>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-12">
					<div class="form-group">
						<label for="email-input"
							>อีเมล <span class="required">*</span></label
						>
						<InputField
							v-model="$v.form.email.$model"
							placeholder="อีเมล"
							name="email-input"
							type="email"
							id="email-input"
							isRequired
							:isValidate="$v.form.email.$error"
							:v="$v.form.email"
						/>
						<!-- <input
							type="email"
							class="form-control"
							v-model="$v.form.email.$model"
							:class="status($v.form.email)"
							id="email-input"
							placeholder="อีเมล"
						/> -->
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-12">
					<div class="form-group">
						<label for="telephone-input"
							>เบอร์โทร <span class="required">*</span></label
						>
						<InputField
							v-model="$v.form.telephone.$model"
							placeholder="เบอร์โทร"
							name="telephone-input"
							id="telephone-input"
							isRequired
							:maxlength="10"
							:isValidate="$v.form.telephone.$error"
							:v="$v.form.telephone"
						/>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-12">
					<div class="form-group">
						<label for="password-input"
							>วันเกิด <span class="required">*</span></label
						>
						<div class="birthdate-input">
							<div class="w-100">
								<select
									:class="['custom-select', status($v.form.day)]"
									v-model="$v.form.day.$model"
								>
									<option selected disabled value="">วันที่</option>
									<option v-for="i in 31" :key="'day' + i">
										{{ $moment(i, 'D').format('DD') }}
									</option>
								</select>
							</div>
							<div class="w-100">
								<select
									:class="['custom-select', status($v.form.month)]"
									v-model="$v.form.month.$model"
								>
									<option selected disabled value="">เดือน</option>
									<option v-for="i of 12" :key="'month' + i">
										{{ $moment(i, 'M').format('MMMM') }}
									</option>
								</select>
							</div>
							<div class="w-100">
								<select
									:class="['custom-select', status($v.form.year)]"
									v-model="$v.form.year.$model"
								>
									<option selected disabled value="">ปี</option>
									<option v-for="i of year" :key="'year' + i">{{ i }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 col-12">
					<div>
						<div class="mb-3">เพศ <span class="required">*</span></div>
						<div class="form-check form-check-inline">
							<input
								:class="'form-check-input'"
								type="radio"
								name="gender-input"
								v-model="form.gender"
								id="inlineRadio1"
								value="ชาย"
							/>
							<label :class="'form-check-label'" for="inlineRadio1">ชาย</label>
						</div>
						<div class="form-check form-check-inline">
							<input
								type="radio"
								class="form-check-input"
								v-model="form.gender"
								name="gender-input"
								id="inlineRadio2"
								value="หญิง"
							/>
							<label class="form-check-label" for="inlineRadio2">หญิง</label>
						</div>
					</div>
					<div>
						<span v-if="$v.form.gender.$error" class="required"
							>กรุณาเลือกเพศ</span
						>
					</div>
				</div>

				<button
					class="btn register-btn btn-block mt-4 mb-2"
					@click.prevent="submit()"
				>
					บันทึก
				</button>
			</div>
		</form>
	</div>
</template>
<script>
import {
	required,
	integer,
	minLength,
	maxLength,
	decimal,
	sameAs,
	helpers,
	email,
} from 'vuelidate/lib/validators'

const telephone = helpers.regex(
	'telephone',
	/((\+66|0)(\d{1,2}\-?\d{3}\-?\d{3,4}))|((\+๖๖|๐)([๐-๙]{1,2}\-?[๐-๙]{3}\-?[๐-๙]{3,4}))/
)

export default {
	validations() {
		return {
			form: {
				day: { required },
				month: { required },
				year: { required },
				firstName: { required },
				telephone: {
					required,
					telephone,
					decimal,
					maxLengthValue: maxLength(10),
					minLengthValue: minLength(10),
				},
				lastName: { required },
				email: { required, email },
				gender: { required },
			},
		}
	},
	data() {
		return {
			day: '',
			year: [],
			form: {
				day: this.$moment(this.$auth.user.birthday).format('DD'),
				firstName: this.$auth.user.firstName,
				lastName: this.$auth.user.lastName,
				month: this.$moment(this.$auth.user.birthday).format('MMMM'),
				year: this.$moment(this.$auth.user.birthday).format('YYYY'),
				email: this.$auth.user.username,
				telephone: this.$auth.user.telephone,
				gender: this.$auth.user.gender,
				acceptRule: false,
			},
		}
	},
	created() {
		this.setBirthDayRange()
	},
	methods: {
		setBirthDayRange() {
			let years = this.$moment().format('YYYY')
			let yearObj = []
			for (let index = years - 150; index <= years; index++) {
				yearObj.push(index)
			}
			this.year = yearObj.sort((a, b) => b - a)
		},
		status(validation) {
			return {
				error: validation.$error,
				dirty: validation.$dirty,
			}
		},
		submit() {
			this.$v.form.$touch()
			if (this.$v.form.$error) return
			// to form submit after this
			this.form.birthday = `${this.form.year}-${this.$moment(
				this.form.month,
				'MMMM'
			).format('MM')}-${this.form.day}`
			this.$axios
				.put(`${process.env.BASE_API_PATH}/api/user`, this.form)
				.then((res) => {
					console.log(res)
					alert('Form submitted')
				})
		},
	},
}
</script>
