<template>
  <div>
    <div class="title">
      <div>บัญชีของฉัน</div>
      <div class="line-sm"></div>
    </div>
    <form>
      <div class="row">
        <!-- <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="oldpassword-input"
              >รหัสผ่านปัจจุบัน<span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.oldPassword.$model"
              placeholder="รหัสผ่านปัจจุบัน"
              id="oldpassword-input"
              name="oldpassword-input"
              type="password"
              isRequired
              :isValidate="$v.form.oldPassword.$error"
              :v="$v.form.oldPassword"
            />
            <input
              type="password"
              class="form-control"
              v-model="$v.form.oldPassword.$model"
              :class="status($v.form.oldPassword)"
              id="password-input"
              placeholder="รหัสผ่านปัจจุบัน"
            />
          </div>
        </div> -->
        <!-- <div class="offset-md-6"></div> -->
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="newpassword-input"
              >รหัสผ่านใหม่<span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.newPassword.$model"
              placeholder="รหัสผ่านใหม่"
              id="newpassword-input"
              name="newpassword-input"
              type="password"
              isRequired
              isShowPassword
              :isValidate="$v.form.newPassword.$error"
              :v="$v.form.newPassword"
            />
            <!-- <input
              type="password"
              class="form-control"
              v-model="$v.form.newPassword.$model"
              :class="status($v.form.newPassword)"
              id="password-input"
              placeholder="รหัสผ่านใหม่"
            /> -->
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="confirmpassword-input"
              >ยืนยันรหัสผ่าน<span class="required">*</span></label
            >
            <InputField
              v-model="$v.form.confirmPassword.$model"
              placeholder="ยืนยันรหัสผ่าน"
              type="password"
              id="confirmpassword-input"
              name="confirmpassword-input"
              isRequired
              isShowPassword
              :isValidate="$v.form.confirmPassword.$error"
              :v="$v.form.confirmPassword"
            />
            <!-- <input
              type="password"
              class="form-control"
              :class="status($v.form.confirmPassword)"
              v-model="$v.form.confirmPassword.$model"
              id="password-input"
              placeholder="ยืนยันรหัสผ่าน"
            /> -->
          </div>
        </div>

        <!-- <b-button variant="primary" >
          
        </b-button> -->
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded btn-block"
        @click.prevent="submit()"
      >
        บันทึก
      </button>
    </form>
  </div>
</template>
<script>
import {
  required,
  integer,
  minLength,
  sameAs,
  helpers,
  email,
} from 'vuelidate/lib/validators'

const password = helpers.regex(
  'password',
  /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9!-_]+)$/
)

export default {
  validations() {
    return {
      form: {
        // oldPassword: {
        //   required,
        //   password,
        //   minLength: minLength(6),
        // },
        newPassword: {
          required,
          password,
          minLength: minLength(6),
        },

        confirmPassword: {
          required,
          password,
          minLength: minLength(6),
          sameAsPassword: sameAs('newPassword'),
        },
      },
    }
  },
  data() {
    return {
      day: '',
      year: [],
      form: {
        oldPassword: '',
        confirmPassword: '',
        newPassword: '',
      },
    }
  },

  methods: {
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    async submit() {
      this.$v.form.$touch()
      if (this.$v.form.$error) return
      let password = this.form.newPassword
      const res = await this.$axios.put(
        `${process.env.BASE_API_PATH}/api/user/resetpassword`,
        { password: password }
      )
      console.log(res)
      // to form submit after this
      // alert('Form submitted')
      this.$swal('สำเร็จ !', 'ระบบได้ทำการเปลี่ยนรหัสผ่านเรียบร้อย', 'success')
      this.form = {
        oldPassword: '',
        confirmPassword: '',
        newPassword: '',
      }
      this.$v.$reset()
    },
  },
}
</script>
