<template>
  <div>
    <Header v-if="checkPath" />
    <div
      class="relative flex items-top justify-center min-h-screen bg-gray-100  sm:pt-0"
    >
      <Nuxt />
    </div>
    <ShoppingCart />
  </div>
</template>
<script>
export default {
  computed: {
    checkPath() {
      let ignorePath = ['register', 'login', 'forgetPassword']
      let check = true
      if (ignorePath.includes(this.$nuxt.$route.name)) check = false
      return check
    },
  },
}
</script>
