<template>
  <div>
    <div
      class="relative flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0 md:container"
    >
      <!-- <Tutorial /> -->
      <div >
        <div
          id="carouselExampleControls"
          class="carousel slide mt-3"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              v-for="i in 4"
              :class="i == 1 ? 'carousel-item active' : 'carousel-item'"
              :key="'carousel-image' + i"
            >
              <img
                class="d-block w-100"
                src="@/assets/image/blank-img.jpg"
                :alt="'slide' + i"
              />
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="tabs-color"></div>
          <div class="d-flex justify-content-between px-3 my-4">
            <span><b>สินค้าแนะนำ</b></span>
            <nuxt-link :to="`/product/productall`"> สินค้าทั้งหมด</nuxt-link>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                v-for="(product_items, i) of body"
                class="col-xl-2 col-lg-4 col-md-6 col-6"
                :key="'product-items-' + i"
              >
                <ProductCard :product="product_items" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../components/ProductCard'
export default {
  nme: 'IndexPage',
  components: { ProductCard },
  async asyncData({ $content, params }) {
    const { body } = await $content('product/test1').fetch()
    return {
      body,
    }
  },
}
</script>
<style scoped>
.tabs-color {
  background: linear-gradient(180deg, #f89625, #f03366);
  height: 100%;
  width: 10px;
}
.carousel-item img {
  max-height: 300px;
  object-fit: contain;
}
.carousel-item {
  background-color: #e5e5e55e;
}
</style>
