<template>
  <div class="div-input">
    <div
      :class="['input-custom d-flex px-1 ', { error: isValidate }]"
      v-bind:style="{ borderColor: color }"
    >
      <input
        :class="['form-control', status(v)]"
        :type="type == 'password' ? passwordType : type"
        :placeholder="placeholder + displayRequired"
        :name="name"
        :required="required"
        :value="value"
        @input="$emit('input', $event.target.value)"
        @change="onDataChange"
        @keypress="$emit('onkeypress', $event)"
        ref="input"
        :maxlength="maxlength"
        v-bind:style="{ color: color }"
        :autocomplete="isAutocompleteOff ? 'off' : 'on'"
      />

      <div v-if="isShowPassword" class="button-eye">
        <i
          v-if="passwordType == 'password'"
          @click="handleShowHidePassword"
          class="fa-solid fa-eye"
        >
        </i>
        <i
          v-else
          @click="handleShowHidePassword"
          :icon="['fas', 'eye']"
          class="fa-solid fa-eye-slash"
        >
        </i>
      </div>
    </div>
    <span v-if="detail" class="text-desc">{{ detail }}</span>
    <div v-if="v && v.$error">
      <span class="text-error" v-if="v.required == false">
        กรุณากรอกข้อมูลให้ครบถ้วน
      </span>
      <span class="text-error" v-else-if="v.minLength == false">
        กรุณากรอกอย่างน้อย {{ v.$params.minLength.min }}
        {{ isTextNumber ? 'ตัวเลข' : 'อักษร' }}
      </span>
      <span class="text-error" v-else-if="v.email == false">
        กรุณากรอกอีเมล (เช่น email@example.com)
      </span>
      <span class="text-error" v-else-if="v.integer == false">
        กรุณากรอกตัวเลขเท่านั้น
      </span>
      <span class="text-error" v-else-if="v.maxLength == false">
        กรุณากรอกไม่เกิน {{ v.$params.maxLength.max }}
        ตัวเลข
      </span>
      <span class="text-error" v-else-if="v.decimal == false">
        กรุณากรอกตัวเลขเท่านั้น
      </span>
      <span class="text-error" v-else-if="v.minValue == false">
        กรุณากรอกตัวเลขเท่านั้น
      </span>
      <span class="text-error" v-else-if="v.sameAsPassword == false">
        รหัสผ่านไม่ตรงกัน
      </span>
      <span class="text-error" v-else-if="v.alpha == false">
        กรอกเฉพาะตัวอักษรเท่านั้น
      </span>
      <span class="text-error" v-else-if="v.password == false">
        รหัสผ่านจะต้องประกอบด้วยตัวอักษร a-z และ 1-9 ควรมีความยาวไม่ต่ำกว่า 6
        ตัวอักษร
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      required: true,
      type: String,
    },
    type: {
      required: false,
      type: String,
      default: 'text',
    },
    required: {
      required: false,
      type: Boolean,
    },
    detail: {
      required: false,
      type: String,
    },

    name: {
      required: false,
      type: String,
    },
    value: {
      required: false,
      type: String | Number,
    },
    isDisplay: {
      required: false,
      type: Boolean,
    },
    isRequired: {
      required: false,
      type: Boolean,
    },
    isValidate: {
      required: false,
      type: Boolean,
    },
    v: {
      required: false,
      type: Object,
    },
    maxlength: {
      required: false,
      type: Number,
    },

    isTextNumber: {
      required: false,
      type: Boolean,
    },
    isIconReverse: {
      required: false,
      type: Boolean,
    },
    isShowPassword: {
      required: false,
      type: Boolean,
    },
    buttonEyeClass: {
      required: false,
      type: String,
    },
    color: {
      required: false,
      type: String,
    },
    colorError: {
      required: false,
      type: String,
    },
    isAutocompleteOff: {
      required: false,
      type: Boolean,
    },
  },
  data() {
    return {
      displayRequired: this.isRequired ? ' *' : '',
      passwordType: 'password',
    }
  },
  methods: {
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    onDataChange(event) {
      this.$emit('onDataChange', event.target.value)
    },
    focus() {
      this.$refs.input.focus()
    },
    handleShowHidePassword() {
      if (this.passwordType == 'password') {
        this.passwordType = 'text'
      } else {
        this.passwordType = 'password'
      }
    },
  },
}
</script>

<style lang="css" scoped>
.text-error {
  font-size: 0.75rem;
  color: red;
  padding-left: 0.25rem;
}
.button-eye {
  top: calc((1.1em) / 2);
  right: 2.5%;
  position: absolute;
}
.div-input {
  position: relative;
}
</style>
