<template>
  <div class="container d-flex justify-content-center w-100vh">
    <div class="card" id="register-form">
      <div class="card-body">
        <div class="title">
          <div>ลืมรหัสผ่าน</div>
          <div class="line"></div>
        </div>
        <form>
          <div class="form-group">
            <label for="email-input"
              >อีเมล <span class="required">*</span></label
            >
            <input
              type="email"
              class="form-control"
              v-model="$v.form.email.$model"
              :class="status($v.form.email)"
              id="email-input"
              aria-describedby="emailHelp"
              placeholder="อีเมล"
            />
          </div>

          <button
            class="btn register-btn btn-block mt-4 mb-2"
            @click.prevent="submit()"
            :disabled="$v.form.email.$error || form.email == ''"
          >
            รีเซ็ตรหัสผ่าน
          </button>
          <div class="text-center">
            <small class="mr-2">เป็นสมาชิกแล้ว?</small
            ><nuxt-link :to="'/login'"><u>เข้าสู่ระบบ</u></nuxt-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {
  required,
  integer,
  minLength,
  sameAs,
  helpers,
  email,
} from 'vuelidate/lib/validators'

const password = helpers.regex(
  'password',
  /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9!-_]+)$/
)

export default {
  validations() {
    return {
      form: {
        day: { required },
        month: { required },
        year: { required },
        email: { required, email },
        password: {
          required,
          password,
          minLength: minLength(6),
        },
        gender: { required },
        confirmPassword: {
          required,
          password,
          minLength: minLength(6),
          sameAsPassword: sameAs('password'),
        },
      },
    }
  },
  data() {
    return {
      day: '',
      year: [],
      form: {
        day: '',
        month: '',
        year: '',
        email: '',
        password: '',
        confirmPassword: '',
        gender: '',
        acceptRule: false,
      },
    }
  },
  created() {
    this.setBirthDayRange()
  },
  methods: {
    setBirthDayRange() {
      let years = this.$moment().format('YYYY')
      let yearObj = []
      for (let index = years - 150; index <= years; index++) {
        yearObj.push(index)
      }
      this.year = yearObj.sort((a, b) => b - a)
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    submit() {
      this.$v.form.$touch()

      if (this.$v.form.$error) return
      // to form submit after this
      alert('Form submitted')
    },
  },
}
</script>
<style lang="css">
#register-form {
  width: 500px;
  margin: auto;
}
.register-btn {
  background-color: rgb(24, 38, 64);
  color: white;
}
.birthdate-input {
  display: flex;
  flex-direction: row;
}
.birthdate-input div:not(:last-child) {
  margin-right: 10px;
}

.line {
  flex-grow: 1;
  height: 5px;
  margin: 7px 0px 0px 10px;
  background-color: rgb(24, 38, 64);
}
.required {
  color: red;
}
.w-100vh {
  height: 100vh;
}
</style>
